- if @user.admin?
  %h1.fw-light Admin Logged In
  = link_to "New Deal", new_deal_path
- if @active_deal
  %h1.fw-light Today Deal
  .d-flex.justify-content-center.container.mt-5
  .card.p-3.py-4
    %h5.mb-0=@active_deal.title
    %span.text-black-50.p-description
      = @active_deal.description
      %br/
    - if @active_deal.image.attached?  
      = image_tag @active_deal.image, :style => "height: 130pxwidth: 70px"  
    .d-flex.justify-content-between.align-items-center.mt-4
      %span= "Price :$#{@active_deal.price}"
      %span= "Discounted Price :$#{@active_deal.discounted_price}"
      %button.btn.btn-dark.btn-sm{:type => "button"}
        - if @order.present?
          = "ORDERED"
        - else  
          = link_to 'GRAB DEAL', new_order_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}

  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
- else
  %h1.fw-light Today Deal Is Out Of Stock